In [2]:
import pandas as pd

In [3]:
books = pd.read_csv('df_cleaned.csv')

In [4]:
books['categories'].value_counts().reset_index()

                    categories  count
0                      Fiction   2111
1             Juvenile Fiction    390
2    Biography & Autobiography    311
3                      History    207
4           Literary Criticism    124
..                         ...    ...
474               Conspiracies      1
475       Brothers and sisters      1
476             Rock musicians      1
477             Community life      1
478    Indic fiction (English)      1

[479 rows x 2 columns]

In [5]:
books['categories'].value_counts().reset_index().query("count > 50")

                   categories  count
0                     Fiction   2111
1            Juvenile Fiction    390
2   Biography & Autobiography    311
3                     History    207
4          Literary Criticism    124
5                  Philosophy    117
6                    Religion    117
7     Comics & Graphic Novels    116
8                       Drama     86
9         Juvenile Nonfiction     57
10                    Science     56
11                     Poetry     51

In [6]:
category_mapping = {'Fiction': "Fiction",
'Juvenile Fiction': "Children's Fiction",
'Biography & Autobiography': "Nonfiction",
'History': "Nonfiction",
'Literary Criticism': "Nonfiction",
'Philosophy': "Nonfiction",
'Religion': "Nonfiction",
'Comics & Graphic Novels': "Fiction",
'Drama': "Fiction",
'Juvenile Nonfiction': "Children's Nonfiction",
'Science': "Nonfiction",
'Poetry': "Fiction"}

In [7]:
books["simple_categories"] = books["categories"].map(category_mapping)

In [8]:
books[~books['simple_categories'].isna()]

,isbn13,isbn10,title,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count,title_&_desc,tagged_description,simple_categories
0,9780002005883,0002005883,Gilead,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0,Gilead,9780002005883A NOVEL THAT READERS and critics ...,Fiction
2,9780006178736,0006178731,Rage of angels,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0,Rage of angels,"9780006178736A memorable, mesmerizing heroine ...",Fiction
8,9780006482079,0006482074,Warhost of Vastmark,Janny Wurts,Fiction,http://books.google.com/books/content?id=uOL0f...,"Tricked once more by his wily half-brother, Ly...",1995.0,4.03,522.0,2966.0,Warhost of Vastmark,9780006482079Tricked once more by his wily hal...,Fiction
30,9780006646006,000664600X,Ocean Star Express,Mark Haddon;Peter Sutton,Juvenile Fiction,http://books.google.com/books/content?id=I2QZA...,Joe and his parents are enjoying a summer holi...,2002.0,3.50,32.0,1.0,Ocean Star Express,9780006646006Joe and his parents are enjoying ...,Children's Fiction
46,9780007121014,0007121016,Taken at the Flood,Agatha Christie,Fiction,http://books.google.com/books/content?id=3gWlx...,A Few Weeks After Marrying An Attractive Young...,2002.0,3.71,352.0,8852.0,Taken at the Flood,9780007121014A Few Weeks After Marrying An Att...,Fiction
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5178,9781933648279,1933648279,Night Has a Thousand Eyes,Cornell Woolrich,Fiction,http://books.google.com/books/content?id=3Gk6s...,"""Cornell Woolrich's novels define the essence ...",2007.0,3.77,344.0,680.0,Night Has a Thousand Eyes,"9781933648279""Cornell Woolrich's novels define...",Fiction
5188,9784770028969,4770028962,Coin Locker Babies,村上龍,Fiction,http://books.google.com/books/content?id=87DJw...,Rescued from the lockers in which they were le...,2002.0,3.75,393.0,5560.0,Coin Locker Babies,9784770028969Rescued from the lockers in which...,Fiction
5189,9788122200850,8122200850,"Cry, the Peacock",Anita Desai,Fiction,http://books.google.com/books/content?id=_QKwV...,This book is the story of a young girl obsesse...,1980.0,3.22,218.0,134.0,"Cry, the Peacock",9788122200850This book is the story of a young...,Fiction
5195,9788185300535,8185300534,I Am that,Sri Nisargadatta Maharaj;Sudhakar S. Dikshit,Philosophy,http://books.google.com/books/content?id=Fv_JP...,This collection of the timeless teachings of o...,1999.0,4.51,531.0,104.0,I Am thatTalks with Sri Nisargadatta Maharaj,9788185300535This collection of the timeless t...,Nonfiction
5196,9789027712059,9027712050,The Berlin Phenomenology,Georg Wilhelm Friedrich Hegel,History,http://books.google.com/books/content?id=Vy7Sk...,Since the three volume edition ofHegel's Philo...,1981.0,0.00,210.0,0.0,The Berlin Phenomenology,9789027712059Since the three volume edition of...,Nonfiction

In [10]:
from transformers import pipeline

fiction_categories = ["Fiction", "Nonfiction"]
pipe = pipeline("zero-shot-classification",
                model="facebook/bart-large-mnli",
                device=0)

Device set to use cuda:0

In [11]:
books.loc[books["simple_categories"]=="Fiction","description"].reset_index(drop=True)

0       A NOVEL THAT READERS and critics have been eag...
1       A memorable, mesmerizing heroine Jennifer -- b...
2       Tricked once more by his wily half-brother, Ly...
3       A Few Weeks After Marrying An Attractive Young...
4       For sixty years, Jewish refugees and their des...
                              ...
2359    In 1934, a "sickly pathetic marmoset" named Mi...
2360    In this sequel to the popular Cooking with Fer...
2361    "Cornell Woolrich's novels define the essence ...
2362    Rescued from the lockers in which they were le...
2363    This book is the story of a young girl obsesse...
Name: description, Length: 2364, dtype: object

In [12]:
sequence = books.loc[books["simple_categories"]=="Fiction","description"].reset_index(drop=True)[0]

In [13]:
pipe(sequence, fiction_categories)

{'sequence': 'A NOVEL THAT READERS and critics have been eagerly anticipating for over a decade, Gilead is an astonishingly imagined story of remarkable lives. John Ames is a preacher, the son of a preacher and the grandson (both maternal and paternal) of preachers. It’s 1956 in Gilead, Iowa, towards the end of the Reverend Ames’s life, and he is absorbed in recording his family’s story, a legacy for the young son he will never see grow up. Haunted by his grandfather’s presence, John tells of the rift between his grandfather and his father: the elder, an angry visionary who fought for the abolitionist cause, and his son, an ardent pacifist. He is troubled, too, by his prodigal namesake, Jack (John Ames) Boughton, his best friend’s lost son who returns to Gilead searching for forgiveness and redemption. Told in John Ames’s joyous, rambling voice that finds beauty, humour and truth in the smallest of life’s details, Gilead is a song of celebration and acceptance of the best and the worst the world has to offer. At its heart is a tale of the sacred bonds between fathers and sons, pitch-perfect in style and story, set to dazzle critics and readers alike.',
 'labels': ['Fiction', 'Nonfiction'],
 'scores': [0.8438262343406677, 0.15617379546165466]}

In [14]:
import numpy as np

max_ind = np.argmax(pipe(sequence, fiction_categories)["scores"])
max_category = pipe(sequence, fiction_categories)["labels"][max_ind]
max_category

'Fiction'

In [15]:
def generate_predictions(sequence,categories):
    pred = pipe(sequence,categories)
    max_ind = np.argmax(pred["scores"])
    max_label = pred["labels"][max_ind]
    return max_label

In [16]:
from tqdm import tqdm

actual_cats =[]
prd_cats =[]
for i in tqdm(range(300)):
    sequence = books.loc[books["simple_categories"]=="Fiction","description"].reset_index(drop=True)[i]
    actual_cats+=["Fiction"]
    prd_cats+=[generate_predictions(sequence,fiction_categories)]

  2%|▏         | 7/300 [00:00<00:42,  6.90it/s]You seem to be using the pipelines sequentially on GPU. In order to maximize efficiency please use a dataset
100%|██████████| 300/300 [00:28<00:00, 10.65it/s]

In [17]:
for i in tqdm(range(300)):
    sequence = books.loc[books["simple_categories"]=="Nonfiction","description"].reset_index(drop=True)[i]
    actual_cats+=["Nonfiction"]
    prd_cats+=[generate_predictions(sequence,fiction_categories)]

100%|██████████| 300/300 [00:29<00:00, 10.12it/s]

In [18]:
predicted_categories = pd.DataFrame({"Actual" : actual_cats, "Predicted" : prd_cats})
predicted_categories

         Actual   Predicted
0       Fiction     Fiction
1       Fiction     Fiction
2       Fiction     Fiction
3       Fiction  Nonfiction
4       Fiction     Fiction
..          ...         ...
595  Nonfiction  Nonfiction
596  Nonfiction     Fiction
597  Nonfiction  Nonfiction
598  Nonfiction  Nonfiction
599  Nonfiction     Fiction

[600 rows x 2 columns]

In [19]:
predicted_categories["Correct_pred"] = np.where(predicted_categories["Actual"]==predicted_categories["Predicted"], 1, 0)

In [20]:
predicted_categories["Correct_pred"].sum()/len(predicted_categories)

0.7783333333333333

In [21]:
isbn=[]
pred_cats=[]
missing_cats = books.loc[books["simple_categories"].isna(),["isbn13","description"]].reset_index(drop=True)

In [22]:
for i in tqdm(range(len(missing_cats))):
    sequence = missing_cats["description"][i]
    pred_cats+=[generate_predictions(sequence,fiction_categories)]
    isbn+=[missing_cats["isbn13"][i]]

100%|██████████| 1454/1454 [02:13<00:00, 10.92it/s]

In [23]:
missing_pred = pd.DataFrame({"isbn13" : isbn, "predicted_categories" : pred_cats})

In [24]:
missing_pred

             isbn13 predicted_categories
0     9780002261982              Fiction
1     9780006280897           Nonfiction
2     9780006280934           Nonfiction
3     9780006380832           Nonfiction
4     9780006470229              Fiction
...             ...                  ...
1449  9788125026600           Nonfiction
1450  9788171565641              Fiction
1451  9788172235222              Fiction
1452  9788173031014           Nonfiction
1453  9788179921623              Fiction

[1454 rows x 2 columns]

In [25]:
books = pd.merge(books, missing_pred, on="isbn13",how="left")
books["simple_categories"]=np.where(books["simple_categories"].isna(),books["predicted_categories"],books["simple_categories"])
books.drop(columns=["predicted_categories"],inplace=True)

In [27]:
books.to_csv("books_category.csv",index=False)